<div class="container">
  <div class="well text-center about-container">
   <div class="row">
    <div class="col-md-3">
      <%= link_to "http://www.scottgriffis.com/" do %>
       <%= image_tag 'https://www.linkedin.com/mpr/mpr/p/6/005/093/3e6/15ebbf8.jpg', class: 'avatar-show-image' %>
      <% end %>
      
      
      <%= link_to "http://www.scottgriffis.com/" do %>
       <p class="founder-text">Founder Scott Griffis</p>
      <% end %>
  
      
                                        
     </div>
     
     <div class="col-md-6">
      <div class="well text-center"> 
       <h3>We are <icon class="fa fa-group"></icon> <id class="devmatch-text">DevMatch</id>. Our company focuses on creating an exclusive community
        for developers, investors, and entrepreneurs to meet.</h3> 
      </div> 
       
     </div>
   </div> 
  </div>
</div>